@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
};
@keyframes glow-travel {
  0%, 100% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
};

.animate-glow-travel {
  animation: glow-travel 4s linear infinite;
  background-size: 400% 400%;